.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.searchResultsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: aliceblue;
  flex: 2;
  overflow: auto;
}

.ant-space.ant-space-vertical {
  width: 60% !important;
}